.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: indianred;
  color: white; 
  height: 5rem; 
}
 nav ul{
   width: 50%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
 }

 li:hover {
  color: rgb(179, 179, 179);
 }